<ion-view view-title="Gas Stations">
    <ion-content>

        <div class="card" ng-show="!connected">
            <div class="item item-text-wrap">
                You are disconnected!
            </div>
        </div>

        <div class="card" ng-show="geolocationError">
            <div class="item item-text-wrap">
                There was an error trying to get your geolocation!
            </div>
        </div>

        <div class="card" ng-show="gmapsError">
            <div class="item item-text-wrap">
                There was an error trying to get the gas stations!
            </div>
        </div>

        <p>Spring API Test: {{ springTest }}</p>
        <br>

        <ion-list>

            <ion-item ng-show="loadingGeolocation">
                ...Loading your geolocation...
            </ion-item>

            <ion-item>
                <button class="button col" ng-disabled="loadingGeolocation" ng-click="updateStations()">Update Stations</button>
                <button class="button col" ng-click="loadStations();">loadStations</button>
            </ion-item>

            <ion-item ng-repeat="station in gasStations" ui-sref="app.station-view({id: station.id})">
                <h3>{{station.name}}</h3>
                <ul>
                    <li>{{station.address}}</li>
                    <li>distance: {{station.distance.text}}</li>
                    <li>time to arrive: {{station.duration.text}}</li>
                    <li>precise address: {{station.addressPrecise}}</li>
                    <li>galons: NEED TO DO</li>
                </ul>
                <ul>
                    prices: i don't know if i can do this
                    <li>gas: </li>
                    <li>diesel: </li>
                    <li>oxy gas: </li>
                </ul>
            </ion-item>

            <ion-item>
                <button class="button col" ng-show="geolocation.coords" ng-click="openUrl('geo:' + geolocation.coords.latitude + ',' + geolocation.coords.longitude)">Open my Geolocation</button>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
