<ion-view view-title="Edit Vehicle">
  <ion-content>

    <form ng-submit="saveVehicle(vehicle)">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Vehicle Name</span>
          <input type="text" ng-model="vehicle.name">
        </label>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Vehicle Power
            </div>
            <select ng-model="vehicle.power">
              ng-repeat-option?
              <option>1.0</option>
              <option selected>2.0</option>
              <option>1.8</option>
            </select>
          </label>
        </div>

        <label class="item">
          <button class="button button-block button-balanced" type="submit">Save</button>
        </label>

      </div>
    </form>
    
  </ion-content>
</ion-view>
