<div class="container">
	<h5 class="header grey-text text-lighten-1">Simulador de gasto entre rotas</h5>
</div>

<div id="map-inputs" class="row">
	<div class="input-field col s12">
		<select class=""
						ng-model="vehicle"
						material-select
						ng-change="vehicleSelected(vehicle)"
						ng-options="vehicle as vehicle.nickName for vehicle in vehicles"
						watch>
						<option value="">Selecione um veículo</option>
						<option ng-bind="vehicle.nickName"></option>
		</select>
	</div>

	<div class="input-field col s12">
		<location-selector id="origin-field"
			name="originField"
			ng-class="{ invalid: modelForm.originField.$invalid }"
			ng-required="true"
			ng-disabled="!vehicleId"
			on-change="traceRoute"
			has-map="true"
			map="map"
			ng-model="model.origin"></location-selector>
		<label for="origin-field">Origem</label>
		<div ng-messages="modelForm.originField.$error"
						role="alert">
			<span class="invalid"
							ng-message="required">Selecione a origem</span>
		</div>
	</div>

	<div class="input-field col s12">
		<location-selector id="destination-field"
			name="destinationField"
			ng-class="{ invalid: modelForm.destinationField.$invalid }"
			ng-required="true"
			ng-disabled="!vehicleId"
			on-change="traceRoute"
			has-map="true"
			map="map"
			init-getting-location="false"
			ng-model="model.destination"></location-selector>
		<label for="destination-field">Destino</label>
		<div ng-messages="modelForm.destinationField.$error"
						role="alert">
			<span class="invalid"
							ng-message="required">Selecione o destino</span>
		</div>
	</div>

</div>

<div id="map"
				data-tap-disabled="true"></div>
