<div class="container">
	<h5 class="header grey-text text-lighten-1">Simulador de gasto entre rotas</h5>
</div>

<div id="map-inputs" class="row">
	<div class="input-field col s12">
		<select class=""
						ng-model="vehicle"
						material-select
						ng-change="vehicleSelected(vehicle)"
						ng-options="vehicle as vehicle.nickName for vehicle in vehicles"
						watch>
						<option value="">Selecione um veículo</option>
						<option ng-bind="vehicle.nickName"></option>
		</select>
	</div>

	<div class="input-field col s12">
		<input type="text"
						name="originField"
						id="origin-field"
						ng-class="{ invalid: modelForm.originField.$invalid }"
						ng-model="model.origin"
						placeholder=""
						ng-disabled="!vehicleId">
		<label for="origin-field">Origem</label>
		<a href="#"
						class="clear-button"
						ng-class="{ disabled: !vehicleId }"
						ng-click="clearOrigin()"
						ng-disabled="loading"
						style="position: absolute; top: 0; right: 0; margin-right: 10.5px;">
			<i class="material-icons grey-text text-darken-3">backspace</i>
		</a>
	</div>

	<div class="input-field col s12">
		<input type="text"
						name="destinationField"
						id="destination-field"
						ng-class="{ invalid: modelForm.originField.$invalid }"
						ng-model="model.destination"
						placeholder=""
						ng-disabled="!vehicleId">
		<label for="destination-field">Destino</label>
		<a href="#"
						class="clear-button"
						ng-class="{ disabled: !vehicleId }"
						ng-click="clearDestination()"
						ng-disabled="loading"
						style="position: absolute; top: 0; right: 0; margin-right: 10.5px;">
			<i class="material-icons grey-text text-darken-3">backspace</i>
		</a>
	</div>
</div>

<div id="map"
				data-tap-disabled="true"></div>
