<div class="container">

	<h5 class="header grey-text text-lighten-1">
		{{
			(collection.$resolved && collection.length) || !vehicleId
			?
			'Postos de combustível próximos'
			:
			'Carregando postos de combustível próximos...'
		}}
	</h5>

	<form action="modelForm">

		<div input-field>
			<select class=""
							ng-model="vehicle"
							material-select
							ng-change="vehicleSelected(vehicle)"
							ng-options="vehicle as vehicle.nickName for vehicle in vehicles"
							watch>
				<option value="">Selecione um veículo</option>
				<option ng-bind="vehicle.nickName"></option>
				</select>
		</div>

		<div class="input-field">
			<input type="number"
							name="refuelValueField"
							id="refuel-value-field"
							ng-class="{ invalid: modelForm.yearField.$invalid }"
							ng-model="refuelValue"
							ng-min="1"
							ng-max="200"
							ng-change="refuelValueChanged()" />
			<label for="refuel-value-field">Quanto vai abastecer?</label>
			<div ng-if="modelForm.refuelValueField.$dirty || modelForm.$submitted"
							ng-messages="modelForm.refuelValueField.$error"
							role="alert">
				<span class="invalid"
								ng-message="min">Mínimo aceito 1 R$</span>
					<span class="invalid"
									ng-message="max">Maximo aceito 200 R$</span>
			</div>
		</div>

		<label for="radius-field">Raio de busca {{ (radius * 1000) | distance }}</label>
		<p class="range-field">
			<input id="radius-field"
							name="radiusField"
							type="range"
							ng-model="radius"
							ng-change="radiusChanged()"
							ng-model-options="{ debounce: 500 }"
							min="1"
							max="300" />
		</p>

	</form>

	<table class="responsive-table highlight" ng-show="collection.$resolved">
		<thead>
			<tr>
				<th data-field="gasStation">Posto de combustível</th>
				<th data-field="gasStation.distance">Distância</th>
				<!-- <th data-field="gasStation.city">Cidade</th> -->
				<th data-field="amountUnit">Valor combustível</th>
				<!-- <th data-field="time">Tempo para chegar</th> -->
				<th data-field="liters">Litros para chegar</th>
				<!-- <th data-field="arriveValue">Valor para chegar</th> -->
				<th data-field="fuelBought">Litros abastecimento</th>
				<th data-field="distanceAvailableAfterRefuel">Kms após abastecimento</th>
				<th data-field="distanceAvailableAfterRefuelReturn">Kms após abastecimento ida e volta</th>
				<th data-field="actions">Ações</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="m in collection | orderBy: '-distanceAvailableAfterRefuel'">
				<td ng-bind="formatGasStation(m)"></td>
				<td ng-bind="m.distance | distance"></td>
				<!-- <td ng-bind="formatCity(m.city)"></td> -->
				<td ng-bind="m.currentPrice | currency : ' R$' : 2"></td>
				<!-- <td ng-bind="m.time | time"></td> -->
				<td ng-bind="m.liters | liters"></td>
				<!-- <td ng-bind="m.arriveValue | currency : ' R$' : 2"></td> -->
				<td ng-bind="m.fuelBought | liters"></td>
				<td ng-bind="m.distanceAvailableAfterRefuel | distance"></td>
				<td ng-bind="m.distanceAvailableAfterRefuelReturn | distance"></td>
				<td>
					<a class="waves-effect waves-orange orange-text btn-flat"
					ng-href="https://maps.google.com/maps?saddr={{geolocation | geoString}}&daddr={{m.geolocation | geoString}}&dirflg=d"
					target="_blank">Rota GPS</a>
					<a class="waves-effect waves-orange orange-text btn-flat"
					href="#"
					ng-click="detail(m)">Detalhes</a>
					<a class="waves-effect waves-orange orange-text btn-flat"
					href="#"
					ng-click="refuel(m)">Abastecer</a>
				</td>
			</tr>

			<tr ng-show="collection.$resolved && !collection.length">
				<td colspan="5">Nenhum posto de combustível encontrado na região (raio 50 km)</td>
			</tr>
		</tbody>
	</table>

</div>
