html {
	height: 100%;
}

body {
	height: 100%;
}

body main {
    min-height: 400px;
    height: 100%;
}

body main.container {
	margin-top: 20px;
}

main .valign {
    width: 100%;
}

.icon {
    margin-top: 5px;
}

.logo {
	width: 100%;
}

[role="alert"] .invalid {
    color: #F44336;
}
