/*old ionic proj css*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body main {
    height: 100%;
}

[role="alert"] .invalid {
    /*color: #B71C1C;*/
    /*from materialize ::after*/
    /*content: attr(data-error);*/
    color: #F44336;
    /*display: block;
position: absolute;
top: 50px;*/
    /*transition: .2s opacity ease-out, .2s color ease-out;*/
}

.autocomplete-item strong {
    color: #444;
}

.invalid .autocomplete {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.autocomplete-container[disabled] {
    pointer-events: none;
}

.autocomplete-container[disabled] a i {
    color: grey !important;
}

.toast:hover {
    cursor: pointer;
}

.toast:active {
    cursor: move;
}

.nav-wrapper ul.side-nav li.logo {
    height: 200px;
    width: 100%;
}

.nav-wrapper ul.side-nav li.logo a.brand-logo {
    height: 200px;
    width: 100%;
}

.nav-wrapper ul.side-nav li.logo a.brand-logo img.logo {
    height: 100%;
}

.nav-wrapper a.brand-logo {
    height: 100%;
}

.nav-wrapper a.brand-logo img.logo {
    height: 100%;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

a.clear-button.disabled {
    pointer-events: none;
}

a.clear-button.disabled i {
    color: grey !important;
}

.big-icon {
	padding: 0 5px;
}
.big-icon i {
	font-size: 24px;
}
