<form name="modelForm"
				ng-submit="modelForm.$valid && save(model)"
				novalidate>

	<div class="container">

		<div class="row">
			<h5 class="grey-text text-lighten-1">Ultimo abastecimento:</h6>
			<hr>

			<div id="#vehicle-refuels">
				<div class="input-field">
					<autocomplete id="vehicle-refuel-gas-station-city-field"
									name="vehicleRefuelGasStationCityIdField"
									ng-class="{ invalid: modelForm.vehicleRefuelGasStationCityIdField.$invalid }"
									url="/cities"
									label="name"
									format="formatCity"
									init-with="model.cityId"
									is-editable="false"
									ng-model="model.cityId"></autocomplete>
					<label for="vehicle-refuel-gas-station-city-field">Cidade do posto de combustível</label>
				</div>
				<div class="input-field">
					<autocomplete id="vehicle-refuel-gas-station-field"
									name="vehicleRefuelGasStationIdField"
									ng-class="{ invalid: modelForm.vehicleRefuelGasStationIdField.$invalid }"
									url="/gasStations"
									url-params-make="vehicleRefuelGasStationParamsMake"
									label="companyName"
									init-with="model.vehicleRefuel.gasStation"
									is-editable="false"
									format="formatGasStation"
									ng-model="model.vehicleRefuel.gasStationId"
									ng-disabled="!model.cityId"></autocomplete>
					<label for="vehicle-refuel-gas-station-field">Posto de combustível</label>
				</div>
				<div class="input-field">
					<input type="number"
									id="vehicle-refuel-value-field"
									name="vehicleRefuelValueField"
									ng-class="{ invalid: modelForm.vehicleRefuelValueField.$invalid }"
									ng-model="model.vehicleRefuel.value"
									ng-required="true"
									ng-min="0">
					<label for="vehicle-refuel-value-field">Valor</label>
					<div ng-if="modelForm.vehicleRefuelValueField.$dirty || modelForm.$submitted"
									ng-messages="modelForm.vehicleRefuelValueField.$error"
									role="alert">
						<span class="invalid"
										ng-message="required">Obrigatório</span>
						<span class="invalid"
										ng-message="min">Selecione um valor maior que 0</span>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<button type="submit"
							class="btn waves-effect waves-light right">
				<i class="material-icons right">done</i>Salvar
			</button>
		</div>

	</div>

</form>
